<%- include("partials/header"); -%>

<h1>
  <%=title%><a class="delete" onclick=<% onClicked  %> href="/delete"><i class="fa fa-trash"></i></a>
</h1>
<p><%=content%></p>

<%- include("partials/footer"); -%>
